.registro {
  width: 300px;
  margin: 0 auto;
  padding: 20px; 
  background: rgba(255, 255, 255, 0.0);
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto; 
  width: 70%;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}