.VistaTorneos .body {        
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .VistaTorneos .container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }   
  
  .VistaTorneos{
    margin: 0 auto;
    padding: 20px;  
    margin-bottom: 50px;
  }

  .VistaTorneos .button{
    margin-bottom: 30px;
  }
